* {
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;

}

h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  color: white;
  background-color: #007bff;
  /* Blue background */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.98);
}

button:first-of-type {
  background-color: #28a745;
}

button:first-of-type:hover {
  background-color: #218838;
}

button:last-of-type {
  background-color: #dc3545;
}

button:last-of-type:hover {
  background-color: #c82333;
}